<header>
  <h1>Weather Forecast🌥️</h1>
</header>
<div>
  <table>
    <tr>
      <th>City🏙️</th>
      <th>Temperature🌡️</th>
      <th>Humidity💧</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>{{ selectedWeatherData[0].city }}</td>
      <td>{{ selectedWeatherData[0].temperature }}</td>
      <td>{{ selectedWeatherData[0].humidity }}</td>
      <td>{{ selectedWeatherData[0].description }}</td>
    </tr>
    <tr>
      <td>{{ selectedWeatherData[1].city }}</td>
      <td>{{ selectedWeatherData[1].temperature }}</td>
      <td>{{ selectedWeatherData[1].humidity }}</td>
      <td>{{ selectedWeatherData[1].description }}</td>
    </tr>
    <tr>
      <td>{{ selectedWeatherData[2].city }}</td>
      <td>{{ selectedWeatherData[2].temperature }}</td>
      <td>{{ selectedWeatherData[2].humidity }}</td>
      <td>{{ selectedWeatherData[2].description }}</td>
    </tr>
    <tr>
      <td>{{ selectedWeatherData[3].city }}</td>
      <td>{{ selectedWeatherData[3].temperature }}</td>
      <td>{{ selectedWeatherData[3].humidity }}</td>
      <td>{{ selectedWeatherData[3].description }}</td>
    </tr>
  </table>
</div>
